.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# User Specified

Math-Datapack-Squid-Workshop-1.18
Math-Datapack-Squid-Workshop
Soccer-Datapack-Squid-Workshop-1.18/data/soccer/functions/classes/wall